.ques{
text-align: center;
font-family: 'Courgette', cursive;
font-family: 'Edu VIC WA NT Beginner', cursive;


 border: 5px solid red;

 width: 400px;
 
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);

}